extends ../layouts/master.pug

block title
  title My Page - Blog

block basicSeo
  meta(name='description' content='Blog page')
  meta(name='keywords', content='blog, page')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(rel='manifest', href='../manifest.json')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  //- Desktop page
  section.page
    h1.page__title # Blog page

    body
    section.hero
      .hero-inner
        h1 My awesome website
        h2 Look at this website and bask in its amazing glory!
        a.btn(href='https://example.com/') Go ahead...

    title Sliding Hero Image using Flexbox
    body
      .hero-image
        .hero-text
          h1.hero-header bloom
          p inner and outer self-care
