extends ../layouts/master.pug

block title
  title My Page - Contact

block basicSeo
  meta(name='description' content='Contact page')
  meta(name='keywords', content='contact, page')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  //- Desktop page
  section.page
    h1.page__title--bold.page__title  sticky nav bar
    |
    |
    p.page__title scroll down to see the sticky effect

  .navbar
    a(href='#home') Home
    a(href='#news') News
    a(href='#contact') Contact
    a(href='#About') About
